.sea-gray {
    color: #afbcc6;
}

.dark-01 {
    color: #1c1e3d;
}

.brown-01 {
    color: #8c5b3d;
}

.dark-green {
    color: #33464b;
}

.ink-blue {
    color: #2a2d5b;
}

.baked-pink {
    color: #9c5773;
}

.footer-gray {
    color: #888888;
}

.plain-white {
    color: white;
}